.blob {
	background: rgba(255,124,124,0.7);
	border: 2px solid rgba(255,255,255,1);
	position: absolute;
	width: 20px;
	height: 20px;
	margin: -10px 0 0 -10px;
	border-radius: 100px;
	box-shadow: 0 0 5px rgba(0,0,0,0.7);
	-webkit-transform: scale(1);
	opacity: 0.6;
}

.blob.real {
	-webkit-transform: scale(0.9);
	opacity: 1;	
}

#multitouch-overlay {
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;
}